.switch-title {
    margin-bottom: 0.5em;
}

.switch-field input {
    display: none;
}

.switch-field label {
    float: left;
}

.switch-field label {
    display: inline-block;
    background-color: #efefef;
    color: #333;
    font-size: 1vw;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 0.5em 1em;
    border: 0.05em solid rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked+label {
    background-color: #FF771F;
    color: white;
}

.switch-field label:first-of-type {
    border-radius: 3px 0 0 3px;
    width: 50%;
}

.switch-field label:last-of-type {
    border-radius: 0 3px 3px 0;
    width: 50%;
}