.tablaUsuarios label {
    font-weight: bold;
}

.tablaUsuariostable {
    /* border-collapse: collapse; */
    box-shadow: 0 5px 10px #000;
    background-color: white;
    text-align: left;
    overflow: hidden;
    margin: auto;

}

.round_table {
    border-collapse: separate;
    border-spacing: 1;
    border: solid black 1px;
    border-radius: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
}

.tablaUsuarios thead {
    box-shadow: 0 5px 10px #e1e5ee;
}

.tablaUsuarios th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 900;
}

.tablaUsuarios td {
    padding: 1rem 2rem;
}

.tablaUsuarios tr:nth-child(even) {
    background-color: #f4f6fb;
}

.tablaUsuarios tr:hover {
    background-color: rgba(255, 119, 31, 0.3);
}

.accordion-button:not(.collapsed) {
    color: #FF771F;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: #FF771F;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected {
    color: black !important;
    font-weight: 200;
    background-color: #fff;
}

table.dataTable tbody tr.selected a,
table.dataTable tbody th.selected a,
table.dataTable tbody td.selected a {
    color: #000;
    font-weight: 700;
}